.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif, "Noto Serif", "Times New Roman",
    serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__image {
  z-index: 1;
  max-width: 636px;
  top: 135px;
  right: 20px;
  position: absolute;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  /* color: black;
  text-decoration: none; why didnt this work? I had to add it under nav__link below*/
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}

.header__description {
  max-width: 638px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #6f6f6f;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
/* 
.header__paragraph; */
.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;

  /*background-image: url(../images/background_recipes.svg);
  /* z-index: -1; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin-top: 0;
  max-width: 438px;
  margin-bottom: 0px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* .recipes__image {
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* .recipes__videos {
  display: flex;
  gap: 100px;
  height: 273px;
  width: 480px;


} */

.recipes__videos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center; /* Centers items horizontally */
  margin-top: 80px;
  margin-bottom: 215px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.content {
  /* background-color: #0a2750; */
  /* color: #ffffff; */
}

.reservation {
  padding: 100px 0 120px;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
}

.reservation__form {
  margin: 0 auto;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
  background-color: #d9e7ff;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
  padding-right: 20px;
}

.form__button {
  width: 100%;
  padding: 0;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
}
